<configuration>
	<system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="OPTIONSVerbHandler" />
			<remove name="WebDAV" />
			<add name="OPTIONSVerbHandler" path="*" verb="*" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
	</system.webServer>
</configuration>
